* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: rgb(143, 85, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    position: absolute;
}

h1 {
    font-family: "Verdana";
    font-size: 6rem;
    padding: 2rem;
    background: linear-gradient(0deg, #222122, #c9106c 40%,  #9c9a9b 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: lighter;
}

img {
    position: relative;
    left: 10rem;
    bottom: 2rem;
}
